@model List<ListItemViewModel>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">
                <a asp-controller="employee" asp-action="add" class="btn btn-primary">Add new employee</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <th scope="row">@employee.EmployeeCode</th>
                <td>@employee.Name</td>
                <td>@employee.LastName</td>
                <td>@employee.FatherName</td>
                <td>
                    <a asp-controller="employee" asp-action="update" asp-route-employeeCode="@employee.EmployeeCode" class="btn btn-secondary">Edit</a>
                    <form method="POST" asp-controller="employee" asp-action="delete" asp-route-employeeCode="@employee.EmployeeCode" class="d-none" id="employee-delete-form-@employee.EmployeeCode">
                    </form>
                    <button type="submit" form="employee-delete-form-@employee.EmployeeCode" class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>

